.transaction{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 366px;
    padding: 16px 24px 16px 24px;
    border-bottom: 1px solid #F5F5F5;
    gap: 8px;
    &__summary{
        display: flex;
        justify-content: space-between;
        width: 100%;
        &--details{
            display: flex;
            align-items: center;
            &--icon{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 48px;
                height: 48px;
                margin-right: 12px;
                border-radius: 100%;
            }
            &--info{
                display: flex;
                flex-direction: column;
                gap: 4px;
                &--name{
                    font-size: 14px;
                    font-weight: 600;
                }
                &--date{
                    font-size: 13px;
                    color: #AAAAAA;
                }
            }
        }

        &--amount{
            font-size: 14px;
            font-weight: 600;
        }
    }
    
    &__type{
        display: flex;
        align-items: center;
        width: 200px;
        gap: 8px;
        &--logo{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #325BAF;
            height: 20px;
            width: 24px;
            border-radius: 100%;
        }
        &--text{
            color: #325BAF;
            font-size: 12px;
            font-weight: 500;
        }
    }
}
